.btn {	
    height: 60px;	
    width: 240px;	
    border-radius: 30px;;
    background-color: #FFFFFF;
    font-weight: bold;
    border-radius: 30px;
    
}

/* padding-top: 820px;
padding right: 600px;
padding-bottom: 80px;
padding-left: 600px; */