.btn {	
	height: 60px;	
	width: 240px;	
	border-radius: 30px;	
	background: linear-gradient(45deg, #0A3565 0%, #1782D9 100%);
}

.btn-outline-primary {
	text-align: center;
	font-weight: bold;
	color: white;
}

/* padding-top: 820px;
padding right: 600px;
padding-bottom: 80px;
padding-left: 600px; */